<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Chris' BlogPost!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="bps">
        {% for p in bp %}
            <div class="p">
                <h1>{{p.Title}}</h1>
                <p>{{p.Text}}</p>
                <p>{{p.Author}}</p>
                <p>{{p.Published_date}}</p>
            </dv>
        {% endfor%}
    </div>
</body>
</html>